
.jumbotron {
  background: url("https://resortsac.com/wp-content/uploads/2014/11/cielo-wine-bar-atlantic-city-header-img-900x357.jpg") ;
  background-size: 100%;
}



 .headpage{
   font-size: 60px;
   text-align: center;
   background: url("http://coloradowineexperience.com/wp-content/uploads/2015/05/856519-taste-wine-glasses.jpg") no-repeat;

 }

 .navbar .navbar-nav {
    display: inline-block;
    float: none;

 }

 a .navbar-brand {
   font-size: 50px;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar .navbar-collapse li{
  font-size: 25px;
}

.badge{
  margin: 4px;

/* add custom styles */
form {
  display: inline-block;
}



/*#exampleInputEmail2 {
  width: 85%;
}

#sign-up {
  width: 15%
}*/

.col-centered {
    /*display:inline-block;*/
    float:none;
    /* reset the text-align */
    /*text-align:left;*/
    /* inline-block space fix */
    /*margin-right:-4px;*/
    margin: 0 auto;
}

.carousel{
  display: block;
  margin: auto;
}

h2 {
  text-align: center;
}



input:valid {
  border-color: green;
  color: green;
}


.sucka {
  text-align: center;
}

.invalidEmail {
  background-color: red;
  opacity: .7;
  color: black;
}



